Library/metadata
Library/ScriptAssemblies
Library/ShaderCache
Assets/Devdog/InventoryPro/Demos
Assets/Scenes/inWorldScene_conflict-20181017-204743.unity
Assets/Scenes/inWorldScene_conflict-20181017-204743.unity.meta
